@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: HylisSerif;
    src: url("HyliaSerifBeta-Regular.otf") format("opentype");
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ece6d9;
}

h1 {
    font-family: 'HylisSerif';
    letter-spacing: 4px;
}
